<!-- Default form register -->
{% extends 'base.html' %}
{% load static %}
{% block title %}  add team {% endblock %}
{% block content %}
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static "images/signin-image.jpg" %}" alt="sing up image"></figure>
                <a href="/users_auth/sign_up" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Login</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class=" zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




    


{% endblock%}

    <!-- Sing in  Form -->

<!-- JS -->


<!--   {{ form.as_p }}-->






