{% extends "Project/index.html" %}
{% load bootstrap4 %}
{% bootstrap_messages %}

{% block title %}Profile{% endblock %}
{% block profile %}current-menu-item{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
{% endblock %}
 
{%block page_name %}User Profile Donatins{% endblock %}


{% block body %}
<div class="container">
  <div class="project-page">
    <div class="page">
<div class="d-flex flex-column">
    {% if error %}
    <div class="p-2">{{ error  }}</div>

    {%  endif %}
    <!-- {% for donation in donations %}
    <div class="p-2">  {{ donation.rate }}</div>
    {% endfor %}
    {% for name in project_names %}
    <div class="p-2">  {{ name }} </div>
    {% endfor %}  -->
<ol>
    {% for donation in donations %}
    {% for name in project_names %}
      {% if forloop.counter == forloop.parentloop.counter %}
      
      <li>  {{ name }} => {{ donation.rate }}$ </li>

      {% endif %}
    {% endfor %}
  {% endfor %}
</ol>

  </div>



</div>
</div>


  

     
  




</div>
  {% endblock %}