{% load bootstrap4 %} 
{% bootstrap_messages %} 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/static/css/login.css" rel="stylesheet" >

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

<div class="container">
	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="line"><h3>{% now "TIME_FORMAT" %}</h3></div>
            <div class="outter"><img src="/static/images/teamwork.png" class="image-circle"/></div>   
            <h1>Hi Guest</h1>
            <span>Egyption</span>
	    </div>
        <div class="col-md-6 col-xs-6 follow line" align="center">
            <h3>
                 Countless <br/> <span>PROJECTS</span>
            </h3>
        </div>
        <div class="col-md-6 col-xs-6 follow line" align="center">
            <h3>
                 Endless <br/> <span>INVESTMENTS</span>
            </h3>
        </div>
        <form class="text-center border border-light p-5" method="post" action="/users_auth/login/">
            {% csrf_token %}
        <div class="col-md-12 col-xs-12 login_control">
                {% if pass_message  %}
                <div class="alert alert-danger" role="alert">
                    {{ pass_message }}
                    {{ phone_message }}
                  </div>
                 {% endif %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endif %}
                <div class="control">
                    <div class="label">Email Address</div>
                    {% bootstrap_form form %}
                </div>
                
                
                <div align="center">
                     <button class="btn btn-orange"  value="Register" class="btn btn-success">LOGIN</button>
                </div>
                
        </div>
        </form>
        
            
    </div>
</div>
