ajaxuploader==0.3.8
asgiref==3.2.6
beautifulsoup4==4.8.2
bootstrap4==0.1.0
cffi==1.14.0
cryptography==2.8
Django==2.1.15
django-bootstrap4==1.1.1
Jinja2==2.11.1
MarkupSafe==1.1.1
Pillow==9.3.0
pycparser==2.20
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
