ajaxuploader==0.3.8
ansible==2.9.6
asgiref==3.2.6
beautifulsoup4==4.8.2
bootstrap4==0.1.0
botocore==1.15.36
cffi==1.14.0
colorama==0.4.3
cryptography==2.8
Django==2.1.15
django-bootstrap4==1.1.1
docutils==0.15.2
Jinja2==2.11.1
jmespath==0.9.5
MarkupSafe==1.1.1
Pillow==7.0.0
pyasn1==0.4.8
pycparser==2.20
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
rsa==3.4.2
s3transfer==0.3.3
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
