  <div class="highlighted-cause" style="width: 100%;">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 order-1 order-lg-2" height="1000">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style=" height: 250px;  ">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for project in projects %}
                        {% if forloop.counter0 == 0 %}
                        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                        {% else %}
                        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
                        {% endif %}
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for project in projects %}
                        {% if forloop.counter == 1 %}
                        <div class="item active">
                            {% else %}
                            <div class="item">
                                {% endif %}
                                <div class="col-12 col-lg-7 order-2 order-lg-1">
                                    <div class="section-heading" style="margin-left: 130px; width: 100%; height: 80px;overflow: hidden;">
                                        <h2 class="entry-title"><a href="/project/{{ project.id }}/details/"
                                                style="color: #757586;">{{ project.title}}</a></h2>

                                    </div><!-- .section-heading -->

                                    <div class="fund-raised w-100 mt-5" style="margin-left: 200px;">

                                        <div class="progress">
                                            {% if project.totaltarget != 0 %}
                                            {% widthratio project.rate project.totaltarget 100 as ratio %}
                                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                                aria-valuenow="{{ ratio }}" aria-valuemin="0" aria-valuemax="100"
                                                style="width: {{ratio}}%;background-color: #F05731">
                                                <span class="sr-only">{{ ratio }}</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div style="margin-left: 130px;">
                                            <input type="hidden" value="{{ project.totalrate }}" id="rater" />
                                        </div>

                                        <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center"
                                            style="margin-top: -30px; margin-bottom: 10px;">
                                            <div class="fund-raised-total mt-4">
                                                Raised: ${{ project.rate }}
                                            </div><!-- .fund-raised-total -->

                                            <div class="fund-raised-goal mt-4">
                                                Goal: ${{ project.totaltarget}}
                                            </div><!-- .fund-raised-goal -->
                                        </div><!-- .fund-raised-details -->
                                        <h2 class="homeDetailsFont"> {{ project.totalrate }}</h2>
                                        <span class="fa fa-star checked" style="float: left;"></span>
                                        <h2 class="homeDetailsFont"> / 5.0</h2>
                                        <span class="fa fa-star checked" value="5" style="float: left;"></span>

                                        {% if project.featured %}
                                        <p class="homeDetailsFont"
                                            style="color: green;font-weight: bold; margin-left: 170px;">Featured</p>
                                        {% else %}
                                        <p class="homeDetailsFont"
                                            style="color: #F05731;font-weight: bold; margin-left: 170px;">Not Featured
                                        </p>
                                        {% endif %}



                                    </div><!-- .fund-raised -->

                                </div><!-- .col -->


                            </div>
                            {% empty %}
                            <img src="/static/images/default.png" alt="" width="1000" max-height="300">


                        </div>
                        {% endfor %}
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>




            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .highlighted-cause -->