{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Home{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="/static/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/static/style.css">
    {% block css %}{% endblock %}
</head>

<body class="single-page contact-page">
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div
                        class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            Hi, <a href="#">{{ person.first_name }}</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <div>
                                <ul class="nav nav-list">
                                    <form id="suggestion_form">
                                        {% csrf_token %}
                                        <li><input id="suggestion" name="suggestion" type="text"
                                                class="form-control search-query span10" placeholder="Find Projects"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </li>
                                        <ul class="list-group" style="background-color: white; position: absolute;
                                    width: 18em;display: none; z-index: 100;
                                   " id="searchbox">

                                        </ul>
                                    </form>
                                </ul>
                            </div>
                            <div id="user">
                            </div>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div
                        class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="/project/">Donate Now</a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" rel="home"><img class="d-block" src="/static/images/logo.png"
                                    alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">

                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="{% block home %}{% endblock %}" ><a href="/project/home"> Home</a></li>
                                <li class="{% block projects %}{% endblock %}"><a href="/project/">Projects</a></li>
                                <li class="{% block addproject %}{% endblock %}"><a href="/project/addproject">Add Project</a></li>
                                <li class="{% block addprojectPic %}{% endblock %}"><a href="/project/addproject/pic">Add Project Pictures</picture></a></li>
                                <li class="{% block profile %}{% endblock %}"><a href="/users_auth/user_profile">Profile</picture></a></li>
                                <li><a href="/project/logout">Logout</picture></a></li>


                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="page-header" {% block pageHeader %}{% endblock %}>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1>{%block page_name %}{% endblock %}</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="contact-page-wrap">
        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}

            </div>
        </div>
    </div>
</div>

<footer class="site-footer" class="page-header" {% block pagefooter %}{% endblock %}>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="foot-about">
                        <ul class="d-flex flex-wrap align-items-center">
                            <li><h3 style="float: left; color: whitesmoke;">The Project on GitHub</h3> </li>
                            <li><a href="https://github.com/MohamedAbouserei/Crowd_Funding_Webapp"><i class="fa fa-github"></i></a></li>
                        </ul>
                        <h2><a class="foot-logo" href="#"><img src="images/foot-logo.png" alt=""></a></h2>

                        <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                    </div><!-- .foot-about -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <h2>Useful Links</h2>

                    <ul>
                        <li><a href="#">Privacy Polticy</a></li>
                        <li><a href="#">Become  a Volunteer</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Causes</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-latest-news">
                        <h2>Latest News</h2>

                        <ul>
                            <li>
                                <h3><a href="#">A new cause to help</a></h3>
                                <div class="posted-date">MArch 12, 2018</div>
                            </li>

                            <li>
                                <h3><a href="#">We love to help people</a></h3>
                                <div class="posted-date">MArch 12, 2018</div>
                            </li>

                            <li>
                                <h3><a href="#">The new ideas for helping</a></h3>
                                <div class="posted-date">MArch 12, 2018</div>
                            </li>
                        </ul>
                    </div><!-- .foot-latest-news -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>Contact</h2>

                        <ul>
                            <li><i class="fa fa-phone"></i><span>+201008068864</span></li>
                            <li><i class="fa fa-envelope"></i><span>crowding@gmail.cm</span></li>
                            <li><i class="fa fa-map-marker"></i><span>ITI Track. Nacir City, Cairo, Egypt</span></li>
                        </ul>
                    </div><!-- .foot-contact -->

                    <div class="subscribe-form">
                        <form class="d-flex flex-wrap align-items-center">
                            <input type="email" placeholder="Your email">
                            <input type="submit" value="send">
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-widgets -->

    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ITI Nacir City - Cloud Platform Track <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer><!-- .site-footer -->

    <script type='text/javascript' src='/static/js/jquery.js'></script>
    <script type='text/javascript' src='/static/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='/static/js/swiper.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='/static/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='/static/js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='/static/js/custom.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    {% block js %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#suggestion_form').keyup(function () {
                $form = $(this)
                var formData = new FormData(this);
                var query = $(this).val();
                $.ajax({
                    url: "/project/search/",
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    success: function (data) {
                        console.log("SUCCESS");
                        console.log(data["message"]);
                        $("#searchbox").css("display", "block");
                        $("#searchbox").empty()
                        for (i in data["message"]) {
                            $('#searchbox').append('<li class="list-group-item" ><a id="' +
                                i + '" href="/project/' + i + '/details">' + data[
                                    "message"][i] + '</a></li>');
                            $('#' + i + '').click();
                        }
                    },
                    failure: function (data) {
                        console.log("FAIL");
                        console.log(data);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
</body>

</html>