
   {% extends "Project/index.html" %}
   {% load bootstrap4 %} 
   {% bootstrap_messages %} 
   {% block title %}Add Project{% endblock %}
   {%block page_name %}Add Project picture{% endblock %}
   {% block addprojectPic %}current-menu-item{% endblock %}


   {% block body %}
                <div class="col-12 col-lg-5">
                    <div class="entry-content">
                        <h2>How th add a new picture for your project ?</h2>

                        <p></p>

                        <ul class="contact-social d-flex flex-wrap align-items-center">
                            <li><a href="#">1-Choose the Project </a></li>
                            <li><a href="#">2-Add as much Pictures as you want </a></li>
                        
                        </ul>

                        
                    </div>
                </div><!-- .col -->

                <div class="col-12 col-lg-7">
                   
                   <form class="contact-form"  enctype="multipart/form-data" id="id_ajax_upload_form" method="POST"
                   novalidate="">
                     {% csrf_token %}
                     <div class="form-group">
                        <label for="{{ form.player.id_for_label }}" class="col-sm-2 control-label">Project</label>
                        <div class="col-sm-10">    
                          <select id="prj_pic" name="prj_pic" class="form-control">
                            <option value="" selected>Please select a Project</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.title }}</option>
                            {% endfor %}
                          </select>    
                        </div>
                      </div>
                     {% bootstrap_form form %}
                        <span>
                            <input class="btn gradient-bg" type="submit" value="Save Image">
                        </span>
                    </form><!-- .contact-form -->

                </div><!-- .col -->
         
<!----------------------------------------------->

                



    {% endblock %}
{% block js %}
<script 
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
     
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
{% endblock %}
