<!DOCTYPE html>

<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock%}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href = "{% static 'css/style.css' %}">

<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->

<link href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap" rel="stylesheet">
</head>
<body >

    {% block content %}
    {% endblock %}



<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
